.project-informations> p {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    line-height: 1.5;
}

/* PROJECT CARD */

.jobcard-header {
    display: flex;
    justify-content: space-between;
}

.add-project-modal {
    background: rgb(91, 164, 197);
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: 80px 1fr;
    animation: enter .25s ease;
}

.project-modal-header {
    display: flex;
    justify-content: space-between;
}

.project-modal-header button {
    align-items: center;
}

.project-modal-body {
    align-self: center;
}

.add-project-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    justify-content: space-between;
}

.project-input {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.project-input label {
    color: rgb(32, 32, 32);
    font-weight: bold;
}

.project-input input {
    height: 2em;
}

/**
* PROJECT PAGE
*/

/* PROJECT DETAILS [HEADER] */

.project-job-title {
    font-weight: bold;
    font-size: 1.5em;
}

.project-localisation {
    color: var(--text-primary)
}

/* PROJECT SKILL LIST */

.skills-list {
    border: 1px solid #000;
    margin-bottom: 20px;
}

.skills-list-header {
    background: var(--bg-primary);
    margin: 0;
    padding: 10px;
    color: var(--text-secondary);
}

.skills-list-items {
    display: flex;
    justify-content: space-evenly;
}

.skills-list-items li {
    font-size: 26px;
}

/* PROJECT DASHBOARD SECTION */

.project-dashboard-section {
    border: 1px solid #000;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: repeat(12, 1fr);
}

.project-dashboard-section-header {
    background: #23232E;
    color: whitesmoke;
    grid-column: span 12;
    padding-left: 10px;
}

.project-dashboard-item {
    border: 1px solid rgba(77, 77, 77, 0.678);
    grid-column: span 4;
    margin: 5px;
    padding: 5px;
}

@keyframes enter {
    from {
        transform: translateY(100%)
    }
    to {
        transform: translateY(0)
    }
}